:root {
  --color-primario: #000000; /* Negro */
  --color-secundario: #FFD700; /* Oro */
  --color-terciario: #C0C0C0; /* Plata */
  --color-fondo: #1a1a1a; /* Gris oscuro */
  --color-texto: #FFFFFF; /* Blanco */
  --color-fondo-boton: #FFD700; /* Oro */
  --sombra: 0 4px 8px rgba(255, 215, 0, 0.3); /* Sombra dorada */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Playfair Display', serif;
  background: var(--color-fondo);
  color: var(--color-texto);
  min-height: 100vh;
  
}

header {
  font-family: 'Cinzel', serif;
  background: var(--color-5);
  padding: 1.5rem;
  text-align: center;
  position: relative;
  margin-top: 2rem;
}

.nav {
  font-family: 'Lora', serif;
  background: radial-gradient(circle, var(--color-3) 0%, var(--color-4) 100%);
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 2rem;
  z-index: 1000;
  font-weight: lighter;
  background-color: var(--color-primario);
  
}

.nav li {
  list-style: none;
  cursor: pointer;
  transition: var(--transicion);
}

.nav li a {
  display: inline-block;
  text-decoration: none;
  color: var(--color-texto);
  font-family: 'Cinzel', serif;
  font-weight: 500;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.2rem;
  transition: all 0.3s ease;
  position: relative;
}

.nav li a:hover {
  color: var(--color-1);
}

.nav li a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: var(--color-1);
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.nav li a:hover::after {
  transform: scaleX(1);
}


.logo {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.5rem;
  gap: 10px;
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: scale(1.05);
}

.nombreLogo {
  font-family: 'Playfair Display', serif;
  font-size: 32px;
  font-weight: 700;
  color: var(--color-texto);
  transition: color 0.3s ease;
}

.nombreLogo:hover {
  color: var(--color-1);
}

.imgLogo {
  width: 10rem; 
  height: auto;
  box-shadow: var(--sombra);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.imgLogo:hover {
  transform: rotate(10deg) scale(1.1);
  box-shadow: var(--sombra);
}

.bienvenida {
  font-size: 1.2rem;
  margin: 1rem 0.5rem;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2rem; 
  max-width: 1440px;
  margin: 1 rem auto;
  
}

.article {
  height: auto;
  width: 90%;
  position: relative;
  overflow: visible;
  z-index: 1;
  background-color: var(--color-fondo);
  border-radius: 15px;
  border: var(--color-primario) solid 2px;
  padding: 0.5rem;
  box-shadow: var(--sombra);
  transition: all 0.3s ease;
  color: var(--color-texto);
  flex: 1 1 23%;
  margin: 1rem;
  box-sizing: border-box;
  opacity: 0;
  transform: translateY(20px); 
  transition: opacity 0.6s ease-out, transform 0.8s ease-out;
}

.article.visible {
  opacity: 1;
  transform: translateY(0);
}

.imgProducto {
  width: 50%;
  height: auto;
  margin-top: 1rem;
  border-radius: 1rem;
  object-fit: contain;
  transition: transform 0.8s ease 0.8s, z-index 1s ease 0.8s;
  z-index: 1;
  box-shadow: var(--sombra);
}

.imgProducto:hover {
  transform: scale(1.2);
  z-index: 10;
  position: relative;
}

.divProducto {
  font-size: 0.5em;
  padding: 1.5rem;
  text-align: center;
  height: auto;
  width: 100%;
  border-radius: 1rem;
}

.divProducto p:not(.genero)::before {
  content: "•"; 
  color: var(--color-primario);
  font-size: 1.2em;
  margin-right: 0.3rem;
  display: inline-block;
}

.h2Producto {
  font-family: 'Cinzel', serif;
  font-size: 1.5rem;
  text-align: center;
  height: auto;
  position: relative;
  border-radius: 10px;
  background-color: var(--color-1);
  box-shadow: var(--sombra);
}

.h2Producto::after {
  content: '';
  display: block;
  width: 100px;
  height: 3px;
  background: var(--color-2);
  margin: 0.5rem auto;
}

.genero {
  font-size: 1em;
  font-weight: bold;
  margin-top: 0.5rem;
  color: var(--color-texto);
  padding: 0.2rem 1rem;
  border-radius: 20px;
  display: block;
  background-color: var(--color-2);
}

.familiaOlfativa{
  font-size: 1em;
  width: auto;
  color: var(--color-texto);
  padding: 0.2rem 0.2rem;
  border-radius: 20px;
  display: block;
}

.notasOlfativas{
  font-size: 1em;
  width: auto;
  color: var(--color-texto);
  padding: 0.2rem 0.2rem;
  border-radius: 20px;
  display: block;
}

.ocasion {
  font-size: 1em;
  width: auto;
  color: var(--color-texto);
  padding: 0.2rem 0.2rem;
  border-radius: 20px;
  display: block;
}

.descripcion {
  font-size: 1em;
  color: var(--color-texto);
  padding: 0.2rem 0.2rem;
  border-radius: 20px;
  display: block;
}


.divButton {
  display: flex;
  gap: 1rem;
  margin-top: 0.5rem;
}

.buttonComprarParaEncargar {
  flex: 1;
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  background-color: var(--color-1);
  color: #000000;
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  letter-spacing: 0.5px;
  box-shadow: var(--sombra);
  position: relative;
  overflow: hidden;
}


.buttonPedirW:hover {
  background-color: #6d3a5a;
  box-shadow: var(--sombra);
  transform: translateY(-2px);
}




footer {
  background: var(--color-4);
  padding: 1rem;
  margin-top: 3rem;
  border-top: 2px solid #a18cd1;
}

.divContacto {
  padding-top: 0.5rem;
}

.h2Contacto {
  font-family: 'Cinzel', serif;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 1rem;
  padding: 1rem;
}

.h2Contacto::after {
  content: '';
  display: block;
  width: 100px;
  height: 3px;
  background: var(--color-2);
  margin: 1rem auto;
}

.contacto {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.contacto a {
  color: white;
  font-size: 1.8rem;
  transition: var(--transicion);
}

.contacto a:hover {
  color: var(--color-3);
  transform: scale(1.2);
}


.preguntasFrecuentes {
  background: #ceacb4;
  padding: 1rem;
  margin: 2rem 1rem 1rem 1rem;
}
.h2PreguntasFrecuentes {
  font-family: 'Cinzel', serif;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 1.5rem;
}

.titulo-div {
  font-family: 'Cinzel', serif;
  font-size: 2rem;
  text-align: center;
  margin-top: 2rem;
  position: relative;
  text-shadow: var(--sombra);
}

.titulo-div::after {
  content: '';
  display: block;
  width: 100px;
  height: 3px;
  background: var(--color-3);
  margin: 0.5rem auto;
}

.grid-container {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
  font-size: 2em;
  margin: 0.2rem;
}

.piePagina {
  background: var(--color-1);
  padding: 2rem 1rem;
  text-align: center;
  border-top: 2px solid var(--color-2);
  margin-top: 2rem;
}


.textoCierre {
  font-family: 'Lora', serif;
  font-size: 1rem;
  color: var(--color-texto);
  line-height: 1.6;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1rem;
}

.textoCierre strong {
  color: var(--color-3);
  font-weight: 700;
}
.disponibles { color: #27ae60; }
.paraEncargar { color: #3498db; }


@media (min-width: 1440px) {
  .disponibles,
  .paraEncargar {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .disponibles,
  .paraEncargar {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .disponibles,
  .paraEncargar {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767px) {
  .disponibles,
  .paraEncargar {
    grid-template-columns: 1fr; 
  }
}