
:root {
  --color-primario: #ff6aa9;
  --color-secundario: #fbc5d8;
  --color-fondo: #f8f5f6;
  --color-texto: #1c1c1c;
  --sombra: 0 4px 8px rgba(0,0,0,0.1);
  --transicion: all 0.3s ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Playfair Display', serif;
  background: var(--color-fondo);
  color: var(--color-texto);
  min-height: 100vh;
  
}

header {
  font-family: 'Cinzel', serif;
  background: var(--color-secundario);
  padding: 1.5rem;
  text-align: center;
  position: relative;
  margin-top: 2rem;
}

.nav {
  font-family: 'Lora', serif;
  background: radial-gradient(circle, #7a4059, #ffffff);
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 2rem;
  z-index: 1000;
  font-weight: lighter;
  
}

.nav li {
  list-style: none;
  cursor: pointer;
  transition: var(--transicion);
}

.nav li a {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-family: 'Cinzel', serif;
  font-weight: 500;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.2rem;
  transition: all 0.3s ease;
  position: relative;
}

.nav li a:hover {
  color: #b76e79;
}

.nav li a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: #b76e79; 
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.nav li a:hover::after {
  transform: scaleX(1);
}


.logo {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.5rem;
  gap: 10px;
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: scale(1.05);
}

.nombreLogo {
  font-family: 'Playfair Display', serif;
  font-size: 32px;
  font-weight: 700;
  color: #333;
  transition: color 0.3s ease;
}

.nombreLogo:hover {
  color: #b76e79;
}

.imgLogo {
  width: 10rem; 
  height: auto;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.imgLogo:hover {
  transform: rotate(10deg) scale(1.1);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.bienvenida {
  font-size: 1.2rem;
  margin: 1rem 0.5rem;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 2rem; 
  max-width: 1440px;
  margin: 1 rem auto;
  
}

.article {
  position: relative;
  overflow: visible;
  z-index: 1;
  background-color: #ffffff;
  border-radius: 15px;
  border: var(--color-primario) solid 2px;
  padding: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  color: black;
  flex: 1 1 23%;
  margin: 0.2rem;
  box-sizing: border-box;

}

.imgProducto {
  width: 80%;
  height: auto;
  margin-top: 1rem;
  border-radius: 1rem;
  object-fit: contain;
  transition: transform 0.5s ease, z-index 1s ease;
  z-index: 1;
}

.imgProducto:hover {
  transform: scale(1.4);
  z-index: 10;
  position: relative;
}

.article:hover {
  margin-bottom: 2rem;
  transition: margin-bottom 0.25s ease;
}

.divProducto {
  font-size: 0.5em;
  padding: 1.5rem;
  
  border-radius: 1rem;
}

.h2Producto {
  font-family: 'Cinzel', serif;
  font-size: 1.5rem;
  text-align: center;
  height: auto;
  position: relative;
  background-color: var(--color-secundario);
  box-shadow: var(--sombra);
}

h2::after {
  content: '';
  display: block;
  width: 50px;
  height: 3px;
  background: var(--color-secundario);
  
}

.genero {
  font-size: 1em;
  margin-top: 0.5rem;
  color: black;
  padding: 0.3rem 1rem;
  border-radius: 20px;
  display: inline-block;
  margin-bottom: 1rem;
  background: #fbc5d8;
}

.descripcion {
    margin-top: 0.5rem;
    background: radial-gradient(circle, #ffffff, #ffbfd5);
    border-radius: 1rem;
    padding: 0.2rem;
}


.divButton {
  display: flex;
  gap: 1rem;
  margin-top: 0.5rem;
}

.buttonComprarParaEncargar {
    flex: 1;
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    background-color: #562f45;
    color: #ffffff;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    letter-spacing: 0.5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
}


.buttonPedirW:hover {
    background-color: #6d3a5a;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}




footer {
  background: var(--color-primario);
  padding: 1rem;
  margin-top: 3rem;
  border-top: 2px solid #a18cd1;
}

.divContacto {
    padding-top: 0.5rem;
}

.h2Contacto {
    font-family: 'Cinzel', serif;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 1rem;
    padding: 1rem;
}

.h2Contacto::after {
    content: '';
    display: block;
    width: 100px;
    height: 3px;
    background: var(--color-secundario);
    margin: 1rem auto;
}

.contacto {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.contacto a {
  color: white;
  font-size: 1.8rem;
  transition: var(--transicion);
}

.contacto a:hover {
  color: var(--color-secundario);
  transform: scale(1.2);
}


.preguntasFrecuentes {
  background: #ceacb4;
  padding: 1rem;
  margin: 2rem 1rem 1rem 1rem;
}
.h2PreguntasFrecuentes {
  font-family: 'Cinzel', serif;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 1.5rem;
}

.h2PreguntasFrecuentes::after {
  content: '';
  display: block;
  width: 100px;
  height: 3px;
  background: var(--color-secundario);
  margin: 0.5rem auto;
}

.pregunta {
  background: white;
  margin-bottom: 0.5rem;
  border-radius: 8px;
  overflow: hidden;
  padding-right: 0.5rem;
  
}

.pregunta-btn {
  width: 100%;
  padding: 1rem;
  text-align: left;
  border: none;
  background: transparent;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
}

.respuesta {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  padding: 0.5rem;
  
}

.respuesta p {
  margin: 0.5rem;
  padding: 0.5rem;
}

.pregunta.active .respuesta {
  max-height: 500px;
}


.titulo-div {
  font-family: 'Cinzel', serif;
  font-size: 2rem;
  text-align: center;
  margin-top: 2rem;
  position: relative;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.titulo-div::after {
  content: '';
  display: block;
  width: 100px;
  height: 1px;
  background: var(--color-secundario);
  margin: 0.5rem auto;
}

.grid-container {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
  font-size: 2em;
  margin: 0.2rem;
}
/* Estilos para el pie de página */
.piePagina {
  background: var(--color-primario);
  padding: 2rem 1rem;
  text-align: center;
  border-top: 2px solid var(--color-secundario);
  margin-top: 2rem;
}

/* Estilos para el párrafo de cierre */
.textoCierre {
  font-family: 'Lora', serif;
  font-size: 1rem;
  color: var(--color-texto);
  line-height: 1.6;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1rem;
}

.textoCierre strong {
  color: var(--color-secundario);
  font-weight: 700;
}
.disponibles { color: #27ae60; }
.paraEncargar { color: #3498db; }

@media (min-width: 1440px) {
  main {
    grid-template-rows: repeat(4, 1fr);
  }
  

@media (max-width: 1024px) {
    .disponibles, .paraEncargar {
      grid-template-columns: repeat(2, 1fr); 
    }
  }
    
}
@media (max-width: 768px) {
  .disponibles, .paraEncargar {
    grid-template-columns: 1fr; 
  }
}
